<style type="text/css">
  body {
    margin: 0;
  }

    .backimage {
    background-image: url("../static/media/main_background.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
  }

  .maintext {
      text-align: left;
      position: absolute;
      top: 10%;
      left: 20%;
      transform: translate(-50%, -50%);
      color: navy;
  }
  .weather {
    text-align: right;
    position: absolute;
    top: 10%;
    right: 3%;
    transform: translate(-50%, -50%);
    color: navy;
  }

.inweather {
		text-align: left;
		position: absolute;
		bottom: 10%;
		left: 20%;
		transform: translate(-50%, -50%);
		color: navy;
	}
	.inhumidity {
		text-align: left;
		position: absolute;
		bottom: 10%;
		right: 3%;
		transform: translate(-50%, -50%);
		color: navy;
	}

</style>
</head>
<body scroll="no" style="overflow: hidden" >
  <link rel="stylesheet" type= "text/css" href = "static/css/style.css?q=1280549782">

  <div class="backimage">
    <div class="maintext">
      <h1 style="font-size: x-large">{{ name }}</h1>
    </div>
    <div class="weather">
      <h1 style="font-size: x-large">Temperature: {{ temperature }}</h1>
    </div>
<div class="inweather">
			<h1 style="font-size: x-large">Indoor Temperature: {{ intemperature }}</h1>
		</div>
		<div class="inhumidity">
			<h1 style="font-size: x-large">Indoor Humidity: {{ inhumidity }}</h1>
		</div>

      <center>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>




        <!-- <form method="post">
          <p>Take picture is for adding new clothes. Not existing ones</p>
          <input class = "func" type="submit" name="take_pic" value="Take Picture">
        </form> -->
        <h3>Press the button when you are ready to add the image</h3>
        <p></p>
        <button onclick="window.location.href='/add_new_clothes'" class="func Add">Take Picture</button>
        <button onclick="window.location.href='/clothes_viewer?mode=add-existing'" class="func Add">Add Existing</button>
        <button onclick="window.location.href='/logged_in'"class="func Home">Home</button>
        <button onclick="window.location.href='/'"class="func Logout">Logout</button>
      </center>
  </div>

</body>
