<style type="text/css">
	body {
		margin: 0;
	}

    .backimage {
		background-image: url("static/media/main_background.png");
		background-color: #cccccc;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 800px;
	}

	.maintext {
  		text-align: left;
  		position: absolute;
  		top: 10%;
  		left: 20%;
  		transform: translate(-50%, -50%);
  		color: navy;
	}
	.weather {
		text-align: right;
		position: absolute;
		top: 10%;
		right: 3%;
		transform: translate(-50%, -50%);
		color: navy;
	}

</style>
</head>
<body>
	<link  rel = "stylesheet" href = "style.css">
	<div class="backimage">
		<div class="maintext">
			<h1 style="font-size: 50px"> {{name}} </h1>
		</div>
		<div class="weather">
			<h1 style="font-size: 30px">Temperature: {{ temperature }}</h1>
		</div>

		<center>
			<h5>Add Clothes Instruction</h5>
			<p>
				<li>
					<font size = "5" color = "Navy">Please put each clothes in front of the Camera.</font>
				</li>
			</p>
		</center>

		<button onclick="location.href='index.html'"class="back Home">Home</button>
		<button onclick="location.href='Sophia.html'"class="back Main" style=" margin-left: 20%;">Main</button>
	</div>
</body>
