<style type="text/css">
  body {
    margin: 0;
  }

    .backimage {
    background-image: url("../static/media/main_background.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
  }

  .maintext {
      text-align: left;
      position: absolute;
      top: 10%;
      left: 20%;
      transform: translate(-50%, -50%);
      color: navy;
  }
  .weather {
    text-align: right;
    position: absolute;
    top: 10%;
    right: 3%;
    transform: translate(-50%, -50%);
    color: navy;
  }

</style>
</head>
<body>
  <link rel="stylesheet" type= "text/css" href = "static/css/style.css?q=1280549782">

  <div class="backimage">
    <div class="maintext">
      <h1 style="font-size: 30px">{{ name }}</h1>
    </div>
    <div class="weather">
      <h1 style="font-size: 30px">Temperature: {{ temperature }}</h1>
    </div>
    <center>
      <h1>Press the button when you are ready to add the image</h1>

    </center>

      <center>
        <form method="post">
          <input class = "func" type="submit" name="take_pic" value="Take a Picture">
        </form>

        <button onclick="location.href='post_login_main.html'"class="func Home">Home</button>
        <button onclick="location.href='main_page.html'"class="func Logout">Logout</button>
      </center>
  </div>

</body>
