<style type="text/css">
	body {
		margin: 0;
	}

    .backimage {
		background-image: url("static/media/main_background.png");
		background-color: #cccccc;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 800px;
	}

	.maintext {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: navy;
	}

</style>
<meta name="viewport" content="width=device-width, length=device-length, initial-scale=1.0">
</head>
<body>
	<!--<link  rel = "stylesheet" href = "static/css/style.css">-->
	<div class="backimage">
		<dev class = "maintext">
			<h1 style="font-size: xx-large; color: black" ><i> Welcome...</i></h1>
      <h1 style="font-size: x-large; color: black; ":><i>Scanning your face</i></h1>
		</dev>
		<center>
				<p>
				<img src = "static/media/logo.png" alt = "My Photo" style = "width:50%; height 50%; padding-top: 24%">
				</p>
		</center>

	</div>

	<script>
	        var timer = setTimeout(function() {
	            window.location='http://localhost:5000/fr_res'
	        }, 500);
	</script>
</body>
</html>
