<style type="text/css">
	body {
		margin: 0;
	}

    .backimage {
		background-image: url("wardrobe.jpg");
		background-color: #cccccc;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 800px;
	}

	.maintext {
  		text-align: left;
  		position: absolute;
  		top: 10%;
  		left: 20%;
  		transform: translate(-50%, -50%);
  		color: navy;
	}
	.weather {
		text-align: right;
		position: absolute;
		top: 10%;
		right: 3%;
		transform: translate(-50%, -50%);
		color: navy;
	}

</style>
</head>
<body>
	<link  rel = "stylesheet" href = "static/css/style.css">
	<div class="backimage">
		<div class="maintext">
			<h1 style="font-size: 50px">Hello Sophia!</h1>
		</div>
		<div class="weather">
			<h1 style="font-size: 30px">Weather</h1>
		</div>

		<center>
			<h5>Suggest Clothes</h5>
		</center>
		<p>
			<h1 style="color: navy; padding-left: 10%">Occasions?</h1>
			<form method="post">
				<input type="radio" name="options" id="option1" value="Sports|Activewear" required><label for="option1" required>Sports|Activewear</label></input><br>
				<input type="radio" name="options" id="option2" value="Business|Business Casual"><label for="option2"> Business|Business Casual</label> </input><br>
				<input type="radio" name="options" id="option3" value="Casual|Daily"><label for="option3"> Casual|Daily</label>  </input><br>
				<input type="submit" name = "submit_occasion" value="Submit">
			</form>
		</p>
		<button onclick="window.location.href='/logged_in'"class="func Home">Home</button>
        <button onclick="window.location.href='/'"class="func Logout">Logout</button>
	</div>
</body>
